spacy>=3.5.0  # Initial results were obtained with version 3.4.4
# To generate training data
cli-help-maker
# development
isort
black
ruff>=0.0.240
# For analysis of the dataset generated
pandas>=1.5.2
# To allow transforming a dataframe to markdown.
tabulate
